header#header
  .header-left.cviceni-info
    span.title !{cv.cviceni.nazev}
    i.icon-svg
      svg
        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo")
      //- small ({-HUD_jmeno-} {-HUD_prijmeni-} {-HUD_kdy-})
  .header-center
  .header-right
    block header-right
